# Environment variables
.env

# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.idea/
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store